.home-message{
    margin-top: 10px;
    font-size: 16px;
    color: limegreen;
}

.App {
    text-align: center;
    margin-top: 20px;
  }
  
.home-message button{
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border:2px solid #49557e;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  }
  .user{
    margin-top: 10px;
    font-size: 16px;
    color: #49557e;
  }
  .query{
    color: #49557e;
  }
  .together{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }